.dialog-card {
    position: fixed;
    justify-self: center;
    background: white;
    border-radius: 16px;
    width: min(400px, 90dvw);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    z-index: 21;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 8px;
    }

.onboarding-dark-overlay {
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 20;
}

.card-type-cross {
    padding: 20px 20px 20px 20px;
}

.card-type-down-button {
    padding: 20px 20px 20px 20px;
}

@supports (clip-path: inset(50%)) {
.dialog-card-form::before {
    content: "";
    position: absolute;
    top: -16px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background: white;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    transform: rotate(135deg);
    border-radius: 0 0 0 0.5em;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);
    z-index: 21;
    }


.dialog-down-arrow-card-form::before {
    content: "";
    position: absolute;
    bottom: -16px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background: white;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    border-radius: 0 0 0 0.5em;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);
    z-index: 21;
    transform: rotate(-45deg);

}   
}

.simple-card-form {
    margin-top: 50px;
}

.direction-left {
    justify-items: end;
}

.onboarging-complete-button {
    width: 20%;
    height: 40px;
    align-items: center;
    justify-items: center;
    display: block;
}

.onboarging-complete-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.right-arrow-icon {
    transform: rotate(180deg);
}

.onboarding-text {
    font-size: var(--fontsize-l);
    font-weight: var(--fontweight-normal);
    width: 100%;
}

.onboarging-arrow-button {
    display: flex;
    gap: 4px;
    padding: 10px 4px;
}

.onboarging-arrow-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}