.eventEditorDialog__wrapper {
    overflow: auto;
    position: fixed;
    /* width: 100%; */
    /* height: auto; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.eventEditorDialog__overlay {
    background-color: black;
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: .25;
}

.eventEditorDialog {
    background-color: white;

    /* width: 400px; */
    position: relative;
    margin: 5% auto;

    display: flex;
    flex-direction: column;
    padding: 18px;
    gap: 24px;

    max-width: 600px;

    border-radius: 8px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .25);
    width: 95%;
}

.eventEditorDialog__buttons {
    display: flex;
    gap: 10px;
}

.eventEditorDialog__actionButton {
    padding: 12px 0;
    flex-grow: 1;
    border-radius: 10px;
    font-size: var(--fontsize-m);
    font-weight: var(--fontweight-medium);
}

.eventEditorDialog__actionButton_outlined {
    border: var(--colors-border-gray) 2px solid;
}

.eventEditorDialog__actionButton_outlined:disabled {
    border-color: #c9c9c9;
}

.eventEditorDialog__cross {
    position: absolute;
    right: 14px;
    top: 14px;
}