.editorUnit {
    display: flex;
    flex-direction: row;
    gap: 48px;
    flex-wrap: wrap;
}

.editorUnit__timeBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editorUnit__timeBlockTitle {
    font-size: var(--fontsize-xl);
    font-weight: var(--fontweight-medium);
}

.editorUnit__timeBlocks {
    display: flex;
    flex-direction: column;
    gap: 24px;
}