.eventSectionEditor {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: var(--fontsize-xl);
    font-weight: var(--fontweight-medium);
    margin-top: var(--controls-offset-2xl);
}

.radio-label {
    font-weight: var(--fontweight-normal);
}