.controls-timeComparer {
    display: flex;
    font-size: var(--fontsize-m);
}

.controls-timeComparer:not(.controls-timeComparer_horizontal) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: min-content;
}

.controls-timeComparer_horizontal {
    gap: 4px;
    width: 100%;
}

.controls-timeComparer__time {
    border-radius: 4px;
    text-align: center;
    min-height: 26px;
}

.controls-timeComparer__time_vertical {
    padding: 4px 8px;
    min-width: 42px;
}

/* Для совсем узких экранов смартфонов, чтобы картчока проекта помещалась */
@media screen and (max-width: 350px) {
    .controls-timeComparer__time_vertical {
        padding: 4px 3px;
        min-width: 36px;
    }
}


.controls-timeComparer__time_horizontal {
    padding: 4px 17px;
    min-width: 64px;
    width: 100%;
}

.controls-timeComparer__time_Decline {
    background-color: var(--colors-status-yellow);
}

.controls-timeComparer__time_Continue {
    background-color: var(--colors-status-green);
}

.controls-timeComparer__time_Modify {
    background-color: var(--colors-status-purple);
}

.controls-timeComparer__time_Empty {
    background-color: var(--colors-status-gray);
}