.auth-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.auth-wrapper {
    text-align: center;
}

.primary-text {
    font-size: var(--fontsize-header-s);
    font-weight: var(--fontweight-semiBold);
    margin-bottom: 24px;
}

.primary-text {
    font-size: var(--fontsize-header-m);
    font-weight: var(--fontweight-semiBold);
    margin-bottom: 24px;
}

.secondary-text {
    font-size: var(--fontsize-xl);
}