.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 0;
}

.auth-wrapper {
    text-align: center;
}

.primary-text-h1 {
    font-size: var(--fontsize-header-m);
    font-weight: var(--fontweight-semiBold);
    margin-bottom: 24px;
}

.primary-text-h2 {
    font-size: var(--fontsize-header-s);
    font-weight: var(--fontweight-semiBold);
    margin-bottom: 24px;
}

.secondary-text {
    font-size: var(--fontsize-xl);
}

.onboarding-container {
    display: flex;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 24px;
}

.onboarding-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}