.controls-textInput {
    background: none;
    width: 100%;
    position: relative;
}

.controls-textInput__input {
    background: none;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: var(--colors-border-gray) 1px solid;
    padding: 12px 16px;

    font-size: var(--fontsize-m);
    font-weight: var(--fontweight-normal);
    line-height: 14px;

    text-overflow: ellipsis;

    resize: none;
    overflow: auto;
    height: auto;

    flex-grow: 1;
}

.controls-textInput__input:disabled {
    background: none;
    color: var(--colors-border-gray);
}

/* .controls-textInput__input_empty {
    border: solid #CD4A4C 2px;
    border-radius: 4px; */
/* } */

/* .controls-textInput__input_empty ~ .controls-textInput__hint {
    font-size: var(--fontsize-m);
    color: #CD4A4C;
    position: absolute;
    bottom: 0;
    content: 'test! nelzya pustoe!';
    width: 100%;
    transform: translateY(100%);
} */