:root {
    --colors-Life: #F8F7C7;
    --colors-Fun: #F0D4FA;
    --colors-Drive: #D9EEFF;

    --colors-Life-bright: #EDE253;
    --colors-Fun-bright: #DB74FF;
    --colors-Drive-bright: #8CCBFF;

    --colors-font-hint: #656059;
    --colors-font-blue-button: #0073FF;
 
    --colors-extra-light-gray: #ECECEC;
    --colors-light-gray: #DADADA;
    --colors-light-skin: #F8DFBB;
    --colors-dark-skin: #DFC7A4;
    --colors-border-gray: #6C6C6C;

    --colors-status-light-yellow: #FFF4C5;
    --colors-status-yellow: #FFE683;
    --colors-status-light-green: #DAFFCC;
    --colors-status-green: #B5FF98;
    --colors-status-light-purple: #F9E0FF;
    --colors-status-purple: #ED9FFF;
    --colors-status-gray: #DADADA;

    --colors-card-active-gray: #EBEBEB;

    --colors-mental-states-red: #FF9D94;
    --colors-mental-states-orange: #FFAD7B;
    --colors-mental-states-yellow: #FFE38E;
    --colors-mental-states-warm-green: #B3F458;
    --colors-mental-states-cold-green: #7BF8E5;
    --colors-mental-states-blue: #99B8FF;
    --colors-mental-states-purple: #CAB7FF;

}
