.controls-flex {
    display: flex;
}

.controls-flex-align-center {
    align-items: center;
}

.controls-flex-justify-center {
    justify-content: center;
}

.controls-flex-column {
    display: flex;
    flex-direction: column;
}

.controls-flex-grow {
    flex-grow: 1;
}