.screen-EventEditing__header {
    position: relative;
    display: flex;
    justify-content: end;
    margin: var(--controls-offset-s) var(--controls-offset-3xl);
}

.screen-EventEditing__actionButtonsBlock {
    display: flex;
    gap: 10px;
}

.screen-EventEditing__actionButton_hidden {
    display: hidden;
}

.screen-EventEditing__pageContent {
    padding: 12px 20px;
}