.sidebar {
    --sidebar-items-ident: 20px;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;

    font-size: var(--fontsize-xl);
    font-weight: var(--fontweight-medium);
    line-height: 24px;
}

.sidebar button {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.sidebarMenu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 100;
    opacity: .25;
}

.sidebar__menuIcon {
    width: 42px;
    height: 42px;
}

.sidebarMenu {
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100;
    position: fixed;
    min-width: 230px;
    max-width: 330px;
    width: 40vw;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 40px;

    box-shadow: 4px 4px 16px rgba(0, 0, 0, .15);
    overflow-y: auto;
}

.sidebarMenu__avatar {
    margin-left: var(--sidebar-items-ident);
    width: 68px;
    height: 68px;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: lightgray;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

.sidebarMenu__avatarImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sidebarMenu__selector {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.sidebarMenu__itemIcon {
    width: 24px;
    height: 24px;
}

.sidebarMenu__item {
    text-decoration: none;
    color: black;
    display: flex;
    gap: 20px;
    padding: 12px 0;
    align-items: center;
    width: 100%;
    padding-left: var(--sidebar-items-ident);
}

.sidebarMenu__item_active {
    background-color: var(--colors-light-gray);
}

.sidebarMenu__exit {
    padding: 12px 0;
    margin: 40px 0 20px 0;
    display: flex;
    gap: 20px;
    margin-top: auto;
    padding-left: var(--sidebar-items-ident);
}